/.idea/
/.vscode/
__pycache__
.DS_Store
.env

.webui_secret_key
gradio_cached_examples

*_ignore*
*.log
*.pth

/related
/temp
/outputs
/output_ark
/output_turbo
/wandb

!/src/loss/losses/*.pth
!/pretrained/dec_48b_whit.torchscript.pt