/.idea/
/.vscode/
__pycache__
output
*_ignore*
*.ckpt
*.onnx
*.torchscript.pt
*.pth
*.pt
hidden/imgs/COCO_test2014_000000000014.jpg
v2-inference.yaml
v2-inference-v.yaml
/outputs/**
/outputs_at0/**
/output/**
/output_144/**
/output_ss_i/**
/ipynbs/**
/wandb/**
/temp/**
/pretrained/**

exp*.ipynb
*.log
gradio_cached_examples

# using repos
# /StegaStamp_pytorch
# /WAVES
# /stylegan3

/tmp
.webui_secret_key
